@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");




@tailwind base;
@tailwind components;
@tailwind utilities;




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}


.glide__arrow {
  background-color: #054bb4 !important;
  border-radius: 120px !important;
}


.slick-slide > div {
  margin: 0  10px !important;
  display: flex;
  justify-content: center;
}


/* Custom styles for the previous arrow */
.slick-prev {
  left: 0px !important; /* Adjust position as needed */
  z-index: 1 !important;
  background-color: hsla(0, 0%, 47%, 0.5); /* Semi-transparent background */
  border-radius: 50% !important;
  width: 40px !important; /* Adjust width as needed */
  height: 40px !important; /* Adjust height as needed */
}


.slick-prev:before {
  font-size: 40px !important; /* Adjust size as needed */
  color: black !important; /* Arrow color */
  content: '←'; /* Custom arrow icon, you can use any character or Unicode */
}


/* Custom styles for the next arrow */
.slick-next {
  right: 0px !important; /* Adjust position as needed */
  z-index: 1 !important;
  background-color: hsla(0, 0%, 47%, 0.5); /* Semi-transparent background */
  border-radius: 50% !important;
  width: 40px !important; /* Adjust width as needed */
  height: 40px !important; /* Adjust height as needed */


}


.slick-next:before {
  font-size: 40px !important; /* Adjust size as needed */
  color: black !important ;/* Arrow color */
  content: '→';
  /* Custom arrow icon, you can use any character or Unicode */
}






